USE [master]
GO
/****** Object:  Database [NavalBase]    Script Date: 12.11.2024 17:38:05 ******/
CREATE DATABASE [NavalBase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NavalBase', FILENAME = N'D:\sql serv\MSSQL16.MSSQLSERVER\MSSQL\DATA\NavalBase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NavalBase_log', FILENAME = N'D:\sql serv\MSSQL16.MSSQLSERVER\MSSQL\DATA\NavalBase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NavalBase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NavalBase]
GO
/****** Object:  Table [dbo].[Базы]    Script Date: 12.11.2024 17:38:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Базы](
	[Номер базы] [int] NOT NULL,
	[Название базы] [nvarchar](100) NOT NULL,
	[Географическое расположение] [nvarchar](100) NOT NULL,
	[Количество частей] [int] NOT NULL,
 CONSTRAINT [PK_Базы] PRIMARY KEY CLUSTERED 
(
	[Номер базы] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Корабли]    Script Date: 12.11.2024 17:38:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Корабли](
	[Идентификационный номер корабля] [int] NOT NULL,
	[Название корабля] [nvarchar](100) NOT NULL,
	[Тип корабля] [nvarchar](100) NOT NULL,
	[Дата создания] [date] NOT NULL,
	[Наработка] [int] NOT NULL,
	[Количество посадочных мест] [int] NOT NULL,
	[Устройство двигателя] [nvarchar](100) NOT NULL,
	[Тип привода] [nvarchar](100) NOT NULL,
	[Размещение корпуса] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Корабли] PRIMARY KEY CLUSTERED 
(
	[Идентификационный номер корабля] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Личный состав]    Script Date: 12.11.2024 17:38:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Личный состав](
	[Номер солдата] [int] IDENTITY(1,1) NOT NULL,
	[Фамилия] [nvarchar](100) NOT NULL,
	[Часть] [int] NOT NULL,
	[Должность] [nvarchar](100) NOT NULL,
	[Год рождения] [int] NOT NULL,
	[Год поступления на службу] [int] NOT NULL,
	[Выслуга лет]  AS (CONVERT([int],datepart(year,getdate()))-[Год поступления на службу]),
	[Награды] [nvarchar](max) NULL,
	[Фото] [nvarchar](max) NULL,
 CONSTRAINT [PK_Личный состав] PRIMARY KEY CLUSTERED 
(
	[Номер солдата] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Учения]    Script Date: 12.11.2024 17:38:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Учения](
	[Номер учения] [int] NOT NULL,
	[Часть] [int] NOT NULL,
	[Корабль] [int] NOT NULL,
	[Дата учения] [date] NOT NULL,
	[Место проведения] [nvarchar](100) NULL,
	[Оценка] [int] NOT NULL,
 CONSTRAINT [PK_Учения] PRIMARY KEY CLUSTERED 
(
	[Номер учения] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Части]    Script Date: 12.11.2024 17:38:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Части](
	[Номер части] [int] NOT NULL,
	[База флота] [int] NOT NULL,
	[Место базирования] [nvarchar](100) NULL,
	[Вид войск] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Части] PRIMARY KEY CLUSTERED 
(
	[Номер части] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Базы] ([Номер базы], [Название базы], [Географическое расположение], [Количество частей]) VALUES (1, N'Перл-Харбор', N'Гонолулу, Гавайи, США', 1)
INSERT [dbo].[Базы] ([Номер базы], [Название базы], [Географическое расположение], [Количество частей]) VALUES (2, N'Норфолк', N'Норфолк, Вирджиния, США', 2)
INSERT [dbo].[Базы] ([Номер базы], [Название базы], [Географическое расположение], [Количество частей]) VALUES (3, N'Сан-Диего', N'Сан-Диего, Калифорния, США', 1)
GO
INSERT [dbo].[Корабли] ([Идентификационный номер корабля], [Название корабля], [Тип корабля], [Дата создания], [Наработка], [Количество посадочных мест], [Устройство двигателя], [Тип привода], [Размещение корпуса]) VALUES (1, N'USS Nimitz', N'Авианосец', CAST(N'1975-05-13' AS Date), 800000, 6000, N'Ядерный', N'Самоходное', N'Надводный')
INSERT [dbo].[Корабли] ([Идентификационный номер корабля], [Название корабля], [Тип корабля], [Дата создания], [Наработка], [Количество посадочных мест], [Устройство двигателя], [Тип привода], [Размещение корпуса]) VALUES (2, N'USS Ronald Reagan', N'Авианосец', CAST(N'2003-07-12' AS Date), 700000, 5500, N'Ядерный', N'Самоходное', N'Надводный')
INSERT [dbo].[Корабли] ([Идентификационный номер корабля], [Название корабля], [Тип корабля], [Дата создания], [Наработка], [Количество посадочных мест], [Устройство двигателя], [Тип привода], [Размещение корпуса]) VALUES (3, N'USS John C. Stennis', N'Авианосец', CAST(N'1995-12-09' AS Date), 600000, 5000, N'Ядерный', N'Самоходное', N'Надводный')
GO
SET IDENTITY_INSERT [dbo].[Личный состав] ON 

INSERT [dbo].[Личный состав] ([Номер солдата], [Фамилия], [Часть], [Должность], [Год рождения], [Год поступления на службу], [Награды], [Фото]) VALUES (1, N'Иванов', 1, N'Матрос', 1990, 2020, NULL, N'Resources/2.jpg')
INSERT [dbo].[Личный состав] ([Номер солдата], [Фамилия], [Часть], [Должность], [Год рождения], [Год поступления на службу], [Награды], [Фото]) VALUES (2, N'Петров', 1, N'Сержант', 1995, 2021, NULL, N'Resources/1.jpg')
INSERT [dbo].[Личный состав] ([Номер солдата], [Фамилия], [Часть], [Должность], [Год рождения], [Год поступления на службу], [Награды], [Фото]) VALUES (3, N'Сидоров', 2, N'Старшина 2 статьи', 1985, 2005, N'Медаль "За отвагу"', N'Resources/2.jpg')
SET IDENTITY_INSERT [dbo].[Личный состав] OFF
GO
INSERT [dbo].[Учения] ([Номер учения], [Часть], [Корабль], [Дата учения], [Место проведения], [Оценка]) VALUES (1, 1, 1, CAST(N'2023-03-08' AS Date), N'Баренцево море', 4)
INSERT [dbo].[Учения] ([Номер учения], [Часть], [Корабль], [Дата учения], [Место проведения], [Оценка]) VALUES (2, 2, 1, CAST(N'2023-04-12' AS Date), N'Тихий океан', 3)
INSERT [dbo].[Учения] ([Номер учения], [Часть], [Корабль], [Дата учения], [Место проведения], [Оценка]) VALUES (3, 3, 2, CAST(N'2024-11-26' AS Date), N'Черное море', 5)
GO
INSERT [dbo].[Части] ([Номер части], [База флота], [Место базирования], [Вид войск]) VALUES (1, 1, N'Гонолулу, Гавайи, США', N'Морская авиация')
INSERT [dbo].[Части] ([Номер части], [База флота], [Место базирования], [Вид войск]) VALUES (2, 2, N'Гонолулу, Гавайи, США', N'Морская пехота')
INSERT [dbo].[Части] ([Номер части], [База флота], [Место базирования], [Вид войск]) VALUES (3, 2, N'Норфолк, Вирджиния, США', N'Морская авиация')
GO
ALTER TABLE [dbo].[Личный состав]  WITH CHECK ADD  CONSTRAINT [FK_Личный состав_Части] FOREIGN KEY([Часть])
REFERENCES [dbo].[Части] ([Номер части])
GO
ALTER TABLE [dbo].[Личный состав] CHECK CONSTRAINT [FK_Личный состав_Части]
GO
ALTER TABLE [dbo].[Учения]  WITH CHECK ADD  CONSTRAINT [FK_Учения_Корабли] FOREIGN KEY([Корабль])
REFERENCES [dbo].[Корабли] ([Идентификационный номер корабля])
GO
ALTER TABLE [dbo].[Учения] CHECK CONSTRAINT [FK_Учения_Корабли]
GO
ALTER TABLE [dbo].[Учения]  WITH CHECK ADD  CONSTRAINT [FK_Учения_Части] FOREIGN KEY([Часть])
REFERENCES [dbo].[Части] ([Номер части])
GO
ALTER TABLE [dbo].[Учения] CHECK CONSTRAINT [FK_Учения_Части]
GO
ALTER TABLE [dbo].[Части]  WITH CHECK ADD  CONSTRAINT [FK_Части_Базы] FOREIGN KEY([База флота])
REFERENCES [dbo].[Базы] ([Номер базы])
GO
ALTER TABLE [dbo].[Части] CHECK CONSTRAINT [FK_Части_Базы]
GO
ALTER TABLE [dbo].[Личный состав]  WITH CHECK ADD  CONSTRAINT [CK_Личный состав] CHECK  ((CONVERT([int],datepart(year,getdate()))>=[Год рождения]))
GO
ALTER TABLE [dbo].[Личный состав] CHECK CONSTRAINT [CK_Личный состав]
GO
ALTER TABLE [dbo].[Личный состав]  WITH CHECK ADD  CONSTRAINT [CK_Личный состав_1] CHECK  ((CONVERT([int],datepart(year,getdate()))>=[Год поступления на службу]))
GO
ALTER TABLE [dbo].[Личный состав] CHECK CONSTRAINT [CK_Личный состав_1]
GO
ALTER TABLE [dbo].[Учения]  WITH CHECK ADD  CONSTRAINT [CK_Учения] CHECK  (([Оценка]>=(1) AND [Оценка]<=(5)))
GO
ALTER TABLE [dbo].[Учения] CHECK CONSTRAINT [CK_Учения]
GO
USE [master]
GO
